body{
  background: #fafafa;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  margin: 1px;
}
h4{
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  color: grey;
  margin: 10px;
}
h5{
   font-family: 'Fira Sans', sans-serif; 
   font-size: 15px;
   font-style: none;
   color: grey;
}
p{
   font-family: 'Fira Sans', sans-serif; 
   font-size: 13px;
   font-style: none;
   color: grey; 
    padding: 0 10% 0 10%;
}
.mainimg{
/*
  height: 500px;
  width: 350px;
*/
  height: 25%;
  width: 25%;
  margin-top: 5%;
  margin-left: 24%;
}
.container{
  width:22%;
  display:inline;
  float: right;
  margin: 0 24% 0 0%;
  background: white;
  border: 1px solid grey;
  padding:10px;
  text-align: center;
}
.light-blue{
  background-color: #3897f0;
  color: white;
  border-style:none;
  padding: 7px;
  border-radius:3px;
  width: 90%;
    margin-top: 1%;
}
ul li {
  font-family: 'Fira Sans', sans-serif; 
  color: grey;
  list-style-type: none;
  display: inline;   
  padding: 1%;    
}
a{
  font-size: 15px;
  text-decoration: none;
  color: #123367;
}
input {
  margin-bottom: 3px;
  width:90%;
}
footer{
  text-align: center;
    }

   
